section.concept    
    .container
        .section-title
            h2 ART CONCEPT
        .info フライト、商談、ビジネス研修会、家族旅行、女子会、ハネムーン。「ホテルマイステイズプレミア成田」はそんな人生という旅路に訪れる特別な１日を、鮮やかに彩る空間とスタッグのホスピタリティでもてなします。まるで宝石のように、お客様の求める体験に合わせて日常に輝くを送る施設です。
        .concept-box-wrap
            .concept-box
                img.lazy(src='../assets/narita/images/concept-new1.jpg', alt='')
                .concept-info
                    h3 アート感覚あふれる空間
                    p 和と洋、伝統とモダンの融合がコンセプ ト。大阪の粋を感じさせるエントランスからアートホテルならではの世界が広がります。
            .concept-box
                img.lazy(src='../assets/narita/images/concept-new2.jpg', alt='')           
                .concept-info
                    h3 地上200mからの超眺望 
                    p 大阪の中心部から奈良の山並みまで一望できるシティサイド、港を眼下に淡路島まで見渡せるベイサイドの両方を眺望できます。
            .concept-box
                img.lazy(src='../assets/narita/images/concept-new3.jpg', alt='')           
                .concept-info
                    h3 大阪観光の新しい拠点 
                    p JR大阪環状線・大阪メトロ「弁天町」駅 に直結。ユニバーサル・スタジオ・ジャパン™など観光スポットへのアクセスも便利。