section.main-banner.home-banner
	.home-banner-slider
		.slick-slide
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/banner-slider/pc/1.jpg')
				img(src='/assets/narita/images/banner-slider/sp/1.jpg')
			.banner-text
				h1 素敵な旅のそばに。 
		.slick-slide
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/banner-slider/pc/2.jpg')
				img(src='/assets/narita/images/banner-slider/sp/2.jpg')
			.banner-text
				h1 素敵な旅のそばに。
		.slick-slide
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/banner-slider/pc/3.jpg')
				img(src='/assets/narita/images/banner-slider/sp/3.jpg')
			.banner-text
				h1 素敵な旅のそばに。
		.slick-slide
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/banner-slider/pc/4.jpg')
				img(src='/assets/narita/images/banner-slider/sp/4.jpg')
			.banner-text
				h1 素敵な旅のそばに。
		.slick-slide
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/banner-slider/pc/5.jpg')
				img(src='/assets/narita/images/banner-slider/sp/5.jpg')
			.banner-text
				h1 素敵な旅のそばに。
		.slick-slide
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/banner-slider/pc/6.jpg')
				img(src='/assets/narita/images/banner-slider/sp/6.jpg')
			.banner-text
				h1 
		
	
		//- span RISE ABOVE THE BAY
		//- img(src='/assets/narita/images/air.svg')
	.photos-link
		a.guestPhotos.scroll(href="#gallery-tabs")
			i.icon-insta
			span.hidden-xs Guest Photos
		a.hotelPhotos.scroll(href="#gallery-tabs")
			i.icon-hotelphoto
			span.hidden-xs Hotel Photos
	.calendar-link.visible-device
		a(href="#") 空室検索
			i.icon-calender
