.rooms-staying-plan-slider
  .container
    h4 宿泊プラン
      a(href="#").show-more.hidden-xs もっとみる
        i.icon-arw
    .rooms-staying-plan-slider__nav
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/1.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2019/04/19
        .tagline 空庭温泉 2019年2月26日(火) グランドオープン！大阪ベイタワーグループ特典のご案内
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/1.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2019/04/19
        .tagline 「本ズワイガニ食べ放題！特別ディナービュッフェ」開催。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/2.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2019/04/19
        .tagline ビジネスセミナー「ミズノの野球ビジネスから学ぶ～既存市場を拡大する商品開発」開催。
      div
        picture
          source(media='(min-width: 768px)', srcset='/assets/narita/images/3.jpg')
          img(src='/assets/narita/images/mobile1.jpg')
        .date 2019/04/19
        .tagline あのイーハトーヴォのすきとおった風、夏でも底に。    