.room-info-container
	h2 スタンダードトリプル
	.room-quick-info 65m² / 禁煙ルームのみ / 定員 4名
	.room-info-slider-container
		.room-info-slider
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
			div.slick-slide
				img(src='/assets/narita/images/room-slider1.jpg')
		.slider-count
			span.number 1 
			| / 12
	.room-info-slider-thumb
		img.active(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
		img(src='/assets/narita/images/room-slide-thumb.jpg')
	.room-overview
		h5 お部屋概要
		.room-general-info
			.room-general-info__title
				h4 スタンダードルーム
			.room-general-info__content 全て46〜50階に位置しており、地上180mから大阪の街を一望いただけます。
			ul.rooms-list__room-item__facilities__tag
				h4.sub-title ベッドタイプ
				li
					.tag セミダブル
				li
					.tag ダブル
				li
					.tag クイーン
			ul.rooms-list__room-item__facilities__tag
				h4.sub-title おすすめタイプ
				li
					.tag セミダブル
				li
					.tag ダブル
				li
					.tag クイーン
				li
					.tag セミダブル
				li
					.tag ダブル
				li
					.tag クイーン
				li
					.tag ダブル
		.room-highlight-wrap
			.checkin-checkout
				.time チェックイン 
					span 15:00
				.time チェックアウト 
					span 11:00
				.note ※チェックアウトが遅れた場合1時間につき ¥2000の遅延金が発生致します。
			.checkin-checkout
				.time 禁煙ルーム　あり 
				.time 最大宿泊人数　2 
				.time 広さ　15㎡〜 
		.room-amenities
			ul
				li
					i.icon-mini-fridge
					span 無料Wi-fi
				li
					i.icon-breakfast
					span シャワートイレ
				li
					i.icon-pay
					span 携帯充電器
				li
					i.icon-cottonswab
					span シャンプー
			ul
				li
					i.icon-cleaningservice
					span 無料Wi-fi
				li
					i.icon-coupleorientedroom
					span シャワートイレ
				li
					i.icon-conditioner
					span 携帯充電器
				li
					i.icon-cookware
					span シャンプー
			ul
				li
					i.icon-cleaningservice
					span 無料Wi-fi
				li
					i.icon-coupleorientedroom
					span シャワートイレ
				li
					i.icon-conditioner
					span 携帯充電器
				li
					i.icon-cookware
					span シャンプー
			ul
				li
					i.icon-cleaningservice
					span 無料Wi-fi
				li
					i.icon-coupleorientedroom
					span シャワートイレ
				li
					i.icon-conditioner
					span 携帯充電器
				li
					i.icon-cookware
					span シャンプー				
	.room-features
		.feature
			.strech
				img.lazy(data-src='/assets/narita/images/room-detail1.jpg')
			h3 みんなで過ごすワクワクする時間。
			.content 34 ㎡ ~ の室内に幅120cmのベッドを2つ配した、 テーマパークのような遊び心満載のお部屋です。 ホテルでもワ
				| クワクした楽しさをそのままに過ごしていただけます。 エキストラベッドのご利用で3名までお泊りいただけます。
	.room-reservation#reservationBlock
		h3 お部屋を選んで予約
		.room-reservation__list
			.room-reservation__list__item
				a(href="#")
					img.lazy(src='/assets/narita/images/room-big1.jpg')
				.room-reservation__list__content
					.room-reservation__list__content__header
						h6 ツイン（禁煙）
						.price ¥6,600~
					.room-reservation__list__content__info 
						p ベッドタイプ：ツイン
						p ベッド数：2
						p ベッドサイズ：1100
						p 最大宿泊人数：2
						p エキストラベッド：0
					.btn(href="#") もっと見る
						i.mys-arrow-left.white
			.room-reservation__list__item
				a(href="#")
					img.lazy(src='/assets/narita/images/room-big1.jpg')
				.room-reservation__list__content
					.room-reservation__list__content__header
						h6 ツイン（禁煙）
						.price ￥9,000~
					.room-reservation__list__content__info 
						p ベッドタイプ：ツイン
						p ベッド数：2
						p ベッドサイズ：1100
						p 最大宿泊人数：2
						p エキストラベッド：0
					.btn(href="#") もっと見る
						i.mys-arrow-left.white
			.room-reservation__list__item
				a(href="#")
					img.lazy(src='/assets/narita/images/room-big1.jpg')
				.room-reservation__list__content
					.room-reservation__list__content__header
						h6 ツイン（禁煙）
						.price ¥6,600~
					.room-reservation__list__content__info 
						p ベッドタイプ：ツイン
						p ベッド数：2
						p ベッドサイズ：1100
						p 最大宿泊人数：2
						p エキストラベッド：0
					.btn(href="#") もっと見る
						i.mys-arrow-left.white