section.solaniwa-banner-wrap
    .large-container
        picture
          source(media='(min-width: 768px)', data-srcset='/assets/narita/images/solaniwa.jpg')
          img.lazy(data-src='/assets/narita/images/solaniwa-sp.jpg')
        .solaniwa-banner-content
            p 空庭温泉で、
            .desc 美味しく、愉しく、美しく
            a(href="https://www.solaniwa.com/" target="_blank") オフィシャルサイト