

.main-banner {
    position: relative;    
    padding-top: 56px;
    @include lg {
        padding-top: 80px;
    }
    .banner-image{
        img{
            width: 100%;
            height: auto;
        }
    }
    .banner-text { 
        @include center(vertical);
        text-align: center;
        color: $secondary-color;
        width: 100%;
        text-align: center;        
        h1 {
            font-family: $mi-regular; 
            font-weight: 500;
            line-height: 1;
            letter-spacing: 3.8px;
            text-align: center;
            margin: 0 0 15px;
            @include font-size(24px); 
            text-shadow: 0 0 8.5px rgba(0, 0, 0, 0.8);  
            @include md {
                margin: 0 0 20px;
                @include font-size(32px);
            }
        }
        span {
            @include font-size(10px);
            display: block;
            font-family: 'Lato-B';
            line-height: 1.5;
            letter-spacing: 5.3px;
            @include md {
                @include font-size(14px);
            }
        }
    }
    .divider{
        background:$default-bg;
        width: 2px;
        height: 65px;
        position: absolute;
        left: 50%;
        bottom: 100px;
        @include md {
            height: 70px;
            bottom: 0;
        }
    }
    .photos-link {
        position: absolute;
        top: 54px;
        right: 0;
        @include md {
            @include center(vertical);
        }
        a {
            @include font-size(10px);
            background: $default-bg;
            font-family: 'Lato-B';
            line-height: 1;
            letter-spacing: 0.1px;            
            padding: 8px;            
            text-align: center;
            float: left;
            margin-left: 1px;
            @include md {
                padding: 15px 20px;
                display: flex;
                align-items: center;
                float: none;
                margin-bottom: 1px;
                text-transform: uppercase;
                text-align: left;
            }
        }
        i{
            @include font-size(19px);
        }
        span{
            margin-left: 5px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .photos-link-mobile {
        position: absolute;
        top: 54px;
        right: 0;
        a {
            @include font-size(10px);
            background: $default-bg;
            padding: 8px;
            display: inline-block;
        }
    }
    .calendar-link {
        @include center(horizontal);
        width: 80%;
        text-align: center;
        bottom: -25px;
        a {
            @include font-size(12px);
            font-family: $go-semibold;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: 4.6px;
            display: block;
            background: #c5ad6c;
            padding: 18px 0;
            //border: 1px solid #000;
            color: #fff; 
            i {
                float: right;
                margin-top: -4px;
                margin-right: 8px;
                @include font-size(21px);
                color: #fff;  
            }
        }
    }
}

.home-banner{
    @include md {
        box-shadow: -3px 53px 81px rgba(0,0,0,0.2);
    }
    .slick-slide{
        width: 100%;
    }
    .banner-text {
        h1{
            @include font-size(32px);
            padding: 0 20px;
           // text-shadow: none;  
        } 
        top: 40%;  
        @include md {
            top: 50%;
        }       
        @include sm {
            max-width: 100%;
            padding-top: 20px; 
        }
    }
    .banner-image{
        height:  calc(80vh - 56px);      
        width: 100%;    
        background-size: cover;
        background-position: center;
        @include sm {
            height:  calc(100vh - 150px);     
        }
    } 
    a.banner-button{ 
       @include center(horizontal);      
        bottom: 70px;  
        left: 50%;
        text-align: center;
        color: #fff;
        font-weight: 700;
        font-family: $go-bold;
        padding: 12px 15px;
        background-color: rgba(35,46,72,0.3);  
        border: 2px solid #ffffff;
        border-radius: 35px;
        box-shadow: rgba(37, 58, 106, 0.3) 0px 15px 32px -4px;
        white-space: nowrap;
        width: 300px;
        @include md {            
            display: inline-block;           
            width: auto;
            bottom: 150px;         
        }
        &:hover{
            background:#fff;
            opacity: 1;
            color: #232e48; 
        }
        @include md {
            &.right{
                left: auto;
                right: 25px; 
                bottom: 140px;
                transform: translate(0); 
            }
        }
    }

    .mobile-slider-count{
        position: absolute;
        text-align: center;
        left: 20px;
        right: 20px;
        bottom: 100px;
        color: #fff;  
        display: none;
        font-size: 16px;
        font-weight: 700;
        font-family: $go-bold;
        @include md {
            display: none;  
        }
    }
    
}


.home-Thumbnail-slider{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 1;
    display: none;
    @include sm {
        display: block;
    }
    .thumb-image{
        width: 84px;
        height: 50px;
        display: inline-block;
        border: 1px solid #fff;  
        margin: 0 5px;
        background-size: cover; 
        cursor: pointer;  
        position: relative;
        &.active{
            .progress-bar{
                animation: countdown 5000ms linear forwards;
            } 
            &:after{
                content:"";
                height: 5px;
                position: absolute;
                bottom: -5px;
                left: 0px;
                width: 100%;
                background:rgba(255,255,255,0.2);
            }           
        }
        &:hover .title{
            display: block;
        }
    } 

    .title{
        @include center(horizontal);
        top: 65px;
        background:#fff;
        font-size: 12px;
        color: #232e48;
        white-space: nowrap;
        display: none;  
        padding: 5px 15px; 
        &:after{
            content:"";
            @include css-triangle(#fff,up);   
            position: absolute; 
            left: 50%;
            top: -6px;
            margin-left: -5px;
        }
    }

    .progress-bar{
        background: #fff;
        width: 0;
        height: 5px;
        position: absolute;
        bottom: -5px;
        left: -1px;
    }
}

@keyframes countdown {
  from {
    width: 0;
  }
  to {
    width: 100%;   
  }
}

.home-banner-slider{ 


    .slick-prev{
        background: transparent;
        border: 0px;
        bottom: 2px;
        top: auto;
        left: 28px;
        &:before{
            font-weight: 700;
            color: #fff;
        }
        @include md {
            background: #fff;
            left: 25px;
            border: 1px;
            bottom: auto;
            top: 50%;             
            &:before{
                color: #333;
                font-weight: 400;   
            }
        }
    }
    .slick-next{
        background: transparent;
        border: 0px;
        bottom: 2px;
        top: auto;
        right:20px;    
        &:before{
            color: #fff;
             font-weight: 700;
        }
        @include md {
            background: #fff;
            right: 25px;
            border: 1px;
            bottom: auto;
            top: 50%;
            &:before{
                color: #333;
                font-weight: 400; 
            }
        }        
    }

    .slick-active{
        .progress-bar{
            animation: countdownmobile 5000ms linear forwards;   
        }
    }
    .progress-bar{
        background: #fff;
        width: 0;
        height: 5px;
        position: absolute;
        bottom: 45px; 
        display: block;
        left: 50%;
        margin-left: -50px;
        @include md {
            display: none;
        }
        &:after{
            content:"";
            height: 5px;
            width: 100px;
            background:rgba(255,255,255,0.4);
            position: absolute;
        }      
    }
}

@keyframes countdownmobile {
  from {
    width: 0;
  }
  to {
    width: 100px;   
  }
}