extends ../layouts/default

block append content
	.attractions-main-page
		section.main-banner
			picture.banner-image
				source(media='(min-width: 768px)', srcset='/assets/narita/images/attractions/attraction-banner.jpg')
				img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg')
			.banner-text
				h1 レストラン
			#attraction-map-button.attraction-map-button 
				| もっと見る
				i.icon-map1
		section.about-attractions-info
			h3 大空の飛行機を眺め、豊潤な食事を
			p 翔び立つ飛行機、空港のまばゆい夜景 - 刻々と変化する雄大な長めが寄り添い、3つの飲食店と1つのバーで食事を味わう豊潤な一時を。
		section.location
			h6
				span 周辺の観光スポット 
			.map-container
				#gmap_canvas(data-lat='34.669545' data-lan='135.460969' data-src='../assets/narita/images/pin-hotel.png')
				.close 
					span close    
					i.icon-close
			#maphotel-content
				.map-locator
					.title osaka
					p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
					a.more(href="#") More 
		section.attractions-list
			.container
				ul
					li(class='list1' id="attraction1" data-lat='34.637292' data-long='135.419885' data-src = '../assets/narita/images/pin.png' data-num = "01")
						.number.hidden-xs 
							span 01
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 01
							h2 京セラドーム大阪
							p.info プロ野球の試合だけでなく、コンサートなどの娯楽イベントも開催されており、大阪市のスポーツと娯楽の中心地となっています。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-attr-bicycle
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-attr-bus
									i.icon-attr-monorail
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-attr-ship
									p 
										span 電車
										| 約23分 230円〜
							.map-locator
								.title タイトルタイトル1111 
								p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
								a.more(href="#attraction1") More
					li(class='list2' id="attraction2" data-lat='34.659485' data-long='135.444745' data-src = '../assets/narita/images/pin.png' data-num = "02")
						.number.hidden-xs 
							span 02
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 02
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-attr-taxi
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-attr-train
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more.visible-xs 
								span ホテルからの距離 3.4Km
						a(href="#").more.hidden-xs 
							span ホテルからの距離 3.4Km
						.map-locator
							.title タイトルタイトル
							p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
							a.more(href="#attraction2") More
					li(class='list3' data-lat='34.671897' data-long='135.498794' data-src = '../assets/narita/images/pin.png' data-num = "03")
						.number.hidden-xs 
							span 03
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 03
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-attr-walk
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more.visible-xs 
								span ホテルからの距離 3.4Km
						a(href="#").more.hidden-xs 
							span もっと見る
						.map-locator
							.title タイトルタイトル
							p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
							a.more(href="#") More 
					li(class='list4' data-lat='34.66874' data-long='135.501274' data-src = '../assets/narita/images/pin.png' data-num = "04")
						.number.hidden-xs 
							span 04
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 04
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more.visible-xs 
								span ホテルからの距離 3.4Km
						a(href="#").more.hidden-xs 
							span もっと見る	
							.map-locator
								p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
								a.more(href="#") More
					li(class='list1' data-lat='34.657292' data-long='135.419885' data-src = '../assets/narita/images/pin.png' data-num = "05")
						.number.hidden-xs 
							span 05
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 05
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more
								span もっと見る
							.map-locator
								.title タイトルタイトル1111 
								p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
								a.more(href="#") More
					li(class='list2' data-lat='34.639485' data-long='135.444745' data-src = '../assets/narita/images/pin.png' data-num = "06")
						.number.hidden-xs 
							span 06
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 06
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more
								span ホテルからの距離 3.4Km
							.map-locator
								.title タイトルタイトル
								p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
								a.more(href="#") More
					li(class='list3' data-lat='34.681897' data-long='135.498794' data-src = '../assets/narita/images/pin.png' data-num = "07")
						.number.hidden-xs 
							span 07
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 07
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more
								span もっと見る
							.map-locator
								.title タイトルタイトル
								p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F
								a.more(href="#") More
					li(class='list4' data-lat='34.61874' data-long='135.501274' data-src = '../assets/narita/images/pin.png' data-num = "08")
						.number.hidden-xs 
							span 08
						img(src='/assets/narita/images/kyosera.jpg')
						.attraction-list-info
							.number.visible-xs 
								span 08
							h2 レストラン「ガーデニア」
							p.info 春には埋め、空きにはもみじが色づき、四季折々の顔を見せる日本庭園に心を洗われながら、和洋中そろうブッフェに色彩豊かな味わいと遊ぶ、高雅な食の体験を。
							a(href="#").more
								span もっと見る
							.travel-time
								.travel-time-title ホテルからの距離 
									span 1.4Km
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									i.icon-phone
									p 
										span 電車 
										| 約23分 230円〜
								.travel-time-item
									i.icon-phone
									p 
										span 電車
										| 約23分 230円〜
							a(href="#").more
								span もっと見る	
							.map-locator
								.title タイトルタイトル
								p 161-0032 東京都新宿区西新宿1-11-1セルリアンタワー4F 11-1セルリアンタワー4F 
								a.more(href="#") More
				.attractions-page-terms
					p ※2019年6月時点の情報です。金額、時間は変動の可能性がございます。
		section.attractions-page-booking
			h2 空室を検索 
			.booking-widget
		include ../components/breadcrumb.pug