extends ../layouts/default

block append content
    .facilities-main-page            	
        section.main-banner
            picture.banner-image
                source(media='(min-width: 768px)', srcset='/assets/narita/images/facilities/facilities-banner.jpg')
                img(src='/assets/narita/images/resturant/resturant-banner-mobile.jpg') 
            .banner-text
                h1 設備
        section.facilities-menu
            .menu-gradient
            ul
                li
                    a(href="#" data-show-rooms="facilities-full-info") フィットネス
                        i.down 
                li
                    a(href="#item1") ショップリスト
                        i.down 
                li
                    a(href="#item2") アミューズメント
                        i.down 
                li
                    a(href="#item3") サービスについて
                        i.down         	
        section.about-resturants-info.facilities-info
            .container
                h3 TOGETHER IN  STYLE
                p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        //- section.design-info
        //-     source(media='(min-width: 768px)', srcset='/assets/narita/images/facilities/1.jpg')
        //-     img(src='/assets/narita/images/facilities/1.jpg') 
        //-     .container
        //-         .design-content
        //-             h2 ELEGANTLY REFINED AND SUMPTUOUSLY DESIGNED
        //-             p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそらあのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
        //-         .design-img
        //-             img.lazy(data-src='/assets/narita/images/facilities/2.png')
        section.venues-list-wrap.facilities-list-wrap
            .container
                h4#item1 ショップリスト
                ul.venue-list
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）           							
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）
                        a.see-more(href="#" data-show-rooms="facilities-full-info")
                            span もっと見る                
                h4#item2 ショップリスト
                ul.venue-list.shop-list
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info 多彩の素材を使用したホテルならではの美味しさと、旬感を愉しみながらカロリーバランスのとれた「食」を満喫していただけます。また、ご希望の内容やご予算に応じてもお作りいたします。 
                            .timings 
                                h3 営業時間       
                                span 9:00 a.m.-6:00 p.m.
                                span 9:00 a.m.-6:30 p.m.（日曜祝日）
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info
                                ul
                                    li test
                                    li test1
                                    li test2
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら       
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら         
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら        
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら        
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら        
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら         
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
                    li.showItem
                        img.lazy(data-src='/assets/narita/images/room-big1.jpg')
                        .venue-short-info.facility-short-info
                            h6 スーペリアツインハイフロア
                            .facility-box-info あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら         
                        a.btn.read-more(href="#")  
                            | もっと見る
                            i.mys-arrow-left.white
        section.promo-content#item3
            h4 サービスについて
            .container
                ul.row
                    li.col.col-1-3
                        source(media='(min-width: 356px)', srcset='/assets/narita/images/facilities/service1.jpg')
                        img(src='/assets/narita/images/facilities/service1.jpg')
                        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら
                    li.col.col-1-3
                        source(media='(min-width: 356px)', srcset='/assets/narita/images/facilities/service2.jpg')
                        img(src='/assets/narita/images/facilities/service2.jpg')
                        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら
                    li.col.col-1-3
                        source(media='(min-width: 356px)', srcset='/assets/narita/images/facilities/service3.png')
                        img(src='/assets/narita/images/facilities/service3.png')
                        .content あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、夏でも底に冷たさをもつ青いそら
        include ../components/breadcrumb.pug
    #facilities-full-info(data-basicLightbox data-id="facilities-full-info" class="room-detail facilities-detail-popup")
        .room-info-header 
            .close-room 
                i.icon-close
        include ../components/facilities-info.pug