extends ../layouts/default

block append content
	include ../components/banner.pug
	.visible-device
		include ../components/booking-widget.pug
	.about-rooms-wrap
		.about-rooms-info
			h3 すべてのお客さまに特別な景色と、快適な空間を。
			p スタンダード、スーペリア、デラックスから、46 階以上の高層階に位置するスカイフロア、
				| 遊び心のあるコンセプトルームなどバリエーション豊かなタイプの客室をご用意しています。
				| お子さま連れのご家族から母娘、友人同士、ビジネスまで、あらゆるニーズにお応えします。
		.about-rooms__slider-wrapper
			include ../components/rooms-staying-plan-slider.pug
		.rooms-list-wrap
			.container
				.rooms-list-wrap__filter
					h4 絞り込み条件
					.rooms-list-wrap__sub-title
						h4.sub-title ベッドタイプ
					ul.room-types
						li
							a( data-bed-type="semi") セミダブル
						li
							a( data-bed-type="double") ダブル
						li
							a( data-bed-type="queen") クイーン
						li
							a( data-bed-type="sample") サンプル
						li
							a( data-bed-type="sample") サンプル
					h6.swipe スワイプ >>
					.rooms-list-wrap__sub-title
						h4.sub-title おすすめ
					ul.room-types
						li
							a( data-room-type="family") ファミリー
						li
							a( data-room-type="business") ビジネス
						li
							a( data-room-type="with-friend") 友達と旅行
						li
							a( data-room-type="one-person-trip") 一人旅
						li
							a( data-room-type="with-partner") パートナーと旅行
						li
							a( data-room-type="with-children") 子供と一緒に旅行
						li
							a( data-room-type="special-day") 特別な日に
						li
							a( data-room-type="with-parent") 両親と一緒に旅行
						li
							a( data-room-type="with-baby") 赤ちゃんと一緒
						li
							a( data-room-type="small-child") 小さい子供も楽しい
						li
							a( data-room-type="wheel-chair") 車椅子対応
					h6.swipe スワイプ >>
				.rooms-list-wrap__content
					h4 お部屋一覧
					.rooms-list
						.rooms-list__room-item.double.family
							a(data-show-rooms="room-full-info" href="#")
								img(src='/assets/narita/images/room-big1.jpg')
							.room-short-info
								// .ribbon.blue 朝食無料クーポン付き
								.rooms-list__room-item__header
									h6 スタンダード double fam
									.price ￥9,000~
								.rooms-list__room-item__size
									span 15㎡〜21㎡ 
									span / 最大宿泊人数 2
								.rooms-list__room-item__content 全て46〜50階に位置しており、地上180m から大阪の街を一望いただけます。
								.rooms-list__room-item__facilities
									h4.sub-title ベッドタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									h4.sub-title おすすめタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
										i.mys-arrow-left.white
						.rooms-list__room-item.double.business
							a(data-show-rooms="room-full-info" href="#")
								img(src='/assets/narita/images/room-big1.jpg')
							.room-short-info
								.rooms-list__room-item__header
									h6 スタンダード double busi
									.price ￥9,000~
								.rooms-list__room-item__size
									span 15㎡〜21㎡ 
									span / 最大宿泊人数 2
								.rooms-list__room-item__content 全て46〜50階に位置しており、地上180m から大阪の街を一望いただけます。
								.rooms-list__room-item__facilities
									h4.sub-title ベッドタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									h4.sub-title おすすめタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
										i.mys-arrow-left.white
						.rooms-list__room-item.double.with-friend
							a(data-show-rooms="room-full-info" href="#")
								img(src='/assets/narita/images/room-big1.jpg')
							.room-short-info
								.rooms-list__room-item__header
									h6 スタンダード double w-fri
									.price ￥9,000~
								.rooms-list__room-item__size
									span 15㎡〜21㎡ 
									span / 最大宿泊人数 2
								.rooms-list__room-item__content 全て46〜50階に位置しており、地上180m から大阪の街を一望いただけます。
								.rooms-list__room-item__facilities
									h4.sub-title ベッドタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									h4.sub-title おすすめタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
										i.mys-arrow-left.white
						.rooms-list__room-item.queen.with-friend
							a(data-show-rooms="room-full-info" href="#")
								img(src='/assets/narita/images/room-big1.jpg')
							.room-short-info
								.rooms-list__room-item__header
									h6 スタンダード queen w-fri
									.price ￥9,000~
								.rooms-list__room-item__size
									span 15㎡〜21㎡ 
									span / 最大宿泊人数 2
								.rooms-list__room-item__content 全て46〜50階に位置しており、地上180m から大阪の街を一望いただけます。
								.rooms-list__room-item__facilities
									h4.sub-title ベッドタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									h4.sub-title おすすめタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
										i.mys-arrow-left.white
						.rooms-list__room-item.semi.family
							a(data-show-rooms="room-full-info" href="#")
								img(src='/assets/narita/images/room-big1.jpg')
							.room-short-info
								.rooms-list__room-item__header
									h6 スタンダード semi fam
									.price ￥9,000~
								.rooms-list__room-item__size
									span 15㎡〜21㎡ 
									span / 最大宿泊人数 2
								.rooms-list__room-item__content 全て46〜50階に位置しており、地上180m から大阪の街を一望いただけます。
								.rooms-list__room-item__facilities
									h4.sub-title ベッドタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									h4.sub-title おすすめタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
										li
											.tag ダブル
									.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
										i.mys-arrow-left.white
						.rooms-list__room-item.queen.family
							a(data-show-rooms="room-full-info" href="#")
								img(src='/assets/narita/images/room-big1.jpg')
							.room-short-info
								.rooms-list__room-item__header
									h6 スタンダード queen fam
									.price ￥9,000~
								.rooms-list__room-item__size
									span 15㎡〜21㎡ 
									span / 最大宿泊人数 2
								.rooms-list__room-item__content 全て46〜50階に位置しており、地上180m から大阪の街を一望いただけます。
								.rooms-list__room-item__facilities
									h4.sub-title ベッドタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									h4.sub-title おすすめタイプ
									ul.rooms-list__room-item__facilities__tag
										li
											.tag セミダブル
										li
											.tag ダブル
										li
											.tag クイーン
									.btn.room-more.popup(data-show-rooms="room-full-info") もっと見る
										i.mys-arrow-left.white
		include ../components/breadcrumb.pug
	#room-full-info(data-basicLightbox data-id="room-full-info" class="room-detail")
		.room-info-header
			.room-price
				span 宿泊料金
				| ￥9,000
			.close-room
				span.icon-close
			a(href="#").book-room
				| 予約する			   
		include ../components/room-info.pug
	include ../components/gallery-mask.pug
