//- .campaign-overlay
//- #campaign-popup-wrap
//- 	.campaign-popup
//- 		.close X
//- 		a(href="#")
//- 			img(src='/assets/narita/images/campaign.png')
<input type="hidden" value="true" id="hidIsDisplaySubscribe" />  
.popup-overlay-wrapper
section#SubscribeFormCampaign.subscribe-form-popup.subscribe-campaign
	.subscribe-form
		.close x
		picture.campaign-popup-image
			source(media='(min-width: 768px)', srcset='/assets/narita/images/popup.jpg')
			img(src='/assets/narita/images/popup.jpg')
		form(method="POST" novalidate)
			//h3 Subscribe to our Newsletter and get an additional 5% off
			input(type="hidden" name="u" value="661fcfc9152d94b761746cc1d") 
			input(type="hidden" name="id" value="19f3434c42")
			.input-wrap
				input(type="text" name="MERGE1" id="MERGE1" value="" placeholder="First Name" class="name" required)
				input(type="text" name="MERGE2" id="MERGE2" value="" placeholder="Second Name" class="name" required)
				input(type="email" class="email" name="MERGE0" id="MERGE0"  value="" placeholder="Email" required)
			button.btn.btn-subscribe Subscribe 
			p Please ensure that our emails make it to your inbox by whitelisting our domain.
		.subscribe-thanks 
			p Congratulations! Please check your mailbox. You can get an extra discount.
footer
	.large-container
 
			.footer-logo.col.col-1-3
				img(src='/assets/narita/images/logo.svg')
			.footer-top-menu.col.col-2-3
				ul
					li
						a(href="#") オファー
					li
						a(href="#") ギャラリー
					li
						a(href="#") ルーム
					li
						a(href="#") アクセス
					li
						a(href="#") レストラン
					li
						a(href="#") 会議・宴会
					li
						a(href="#") 設備
					li
						a(href="#") 観光名所
					li
						a(href="#") 温泉&スパ			
			.social-media.col.col-1-3 
				.footer-usj-content
					.img-wrap
						a(href="#") 
							img(src='/assets/narita/images/associate-small.jpg')
						a(href="#") 
							img(src='/assets/narita/images/associate-big.jpg')
					.short-desc アートホテル大阪ベイタワーは、ユニバーサル・スタジオ・ジャパンのアソシエイトホテルです。
					.desc 
						p ユニバーサル・スタジオ・ジャパンに関する情報は、2019年6月現在の　ものです。予告なく変更することがあります。※写真はイメージです。
						p TM & Universal Studios. All rights reserved. CR18-＊＊＊＊
				a(href="#").icon-facebook
				a(href="#").icon-twitter
				a(href="#").icon-instagram
				a(href="#").icon-tripadvisor
			.footer-secondar-menu.col.col-2-3
				ul
					li
						a(href="#") マイステイズ公式サイト
					li
						a(href="#") ホテル＆リゾート
					li
						a(href="#") 目的地
					li
						a(href="#") 人気な観光名所
					li
						a(href="#") サイトマップ
				ul
					li
						a(href="#") ご意見・ご要望
					li
						a(href="#") チャットする
					li
						a(href="#") お問い合わせ
					li
						a(href="#") ご宿泊予約のキャンセル
					li
						a(href="#") お電話：03-3434-3939
				ul
					li
						a(href="#") 企業概要
					li
						a(href="#") 企業情報
					li
						a(href="#") 開発
					li
						a(href="#") 採用情報
					li
						a(href="#") メディア連絡先
				ul
					li
						a(href="#") 方針
					li
						a(href="#") 個人情報保護方針
					li
						a(href="#") ご宿泊予約のキャンセルポリシー
			.copyright.col.col-1-3
				| © 2018 MYSTAYS HOTEL MANAGEMENT Co., Ltd.
			.footer-bottom-menu.col.col-2-3
				ul
					li
						a(href="#") クッキーの設定
					li
						a(href="#") よくあるご質問
					li
						a(href="#")  最低価格保証
